@import "tailwindcss";

body {
  background-color: #1e2527;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .scrollbar::-webkit-scrollbar-button {
    background: #606868;
    border-radius: 50%;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #606868;
    border-radius: 10px;
  }
}
