@import "tailwindcss";

body {
  background-color: #1e2527;
}

@theme {
  --animate-fade-in: fadeIn 2s ease-out;
  --breakpoint-sm: 494px;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .scrollbar::-webkit-scrollbar-button {
    background: #606868;
    border-radius: 50%;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #606868;
    border-radius: 10px;
  }
}
